<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.5.1" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="PhoneThemeManager" version="1.01" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.5.4" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
</packages>